<div class="header">
    <div class="header44">
        <div class="main_menu">
            <a href="/"><img src="/themes/drogo/public/images/logo.png?v=<%- page.ver %>" style="height: 26px" alt="LOGO"></a>
        </div>
        <div class="user_panel">
            <div class="loginin continueViewingBlock" style="display: none;">
                <a href="javascript:void(0)" id="continueViewing"><%- page.l.continue %>?</a>
            </div>
        </div>
        <div class="search_panel">
            <div class="searchbar">
                <form action="/<%- page.urls.search %>/title" name="searchform" method="get">
                    <input name="q" placeholder="<%- page.l.movieTitle %>" type="text">
                    <button class="fbutton2" type="submit" title="<%- page.l.search %>" style="float: right;">
                        <%- page.l.search %>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="header55">
        <div class="leftblok1_header">
            <div class="navigation">
                <div class="topmenu"></div>
                <div class="deepnavigation">
                    <table class="menu">
                        <tbody>
                        <tr>
                            <td class="item">
                                <a href="/"><span class="name"><%- page.l.home %></span></a>
                            </td>
                            <td class="item">
                                <a href="/<%- page.urls.year %>/2018"><span class="name"><%- page.l.premieres %></span></a>
                            </td>
                            <td class="item">
                                <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>"><span class="name"><%- page.l.series %></span></a>
                            </td>
                            <td class="item">
                                <a href="/<%- page.urls.content %>?tag=<%- page.l.collections %>"><span class="name"><%- page.l.collections %></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="horizontal2">
        <div class="horizontal">

            <% if (typeof top === 'object' && top.length) { %>
            <div class="carousel">
                <a class="carousel_prev carousel_left disable" href="">prev</a>
                <div class="carousel_container">
                    <ul class="portfolio_items">
                        <% top.forEach(function (movie) { %>
                        <li>
                            <div class="inner">
                                <a href="<%- movie.url %>" title="<%= movie.title %>">
                                    <div style="position: relative;">
                                        <img src="<%- movie.poster %>" style="width: 118px" alt="<%= movie.title %> (<%- movie.year %>)" title="<%= movie.title %> (<%- movie.year %>)">
                                        <% if (movie.quality) { %>
                                        <div class="cinemapress-quality" style="margin: 3px; padding: 3px;font-size: 10px;">
                                            <span class="cinemapress-svg-quality" style="height: 8px !important;min-height: 8px !important;"></span>&nbsp;<%- movie.quality %>
                                        </div>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <a class="carousel_next carousel_right" href="">next</a>
            </div>
            <% } else if (typeof slider === 'object' && slider.length) { %>
            <div class="carousel">
                <a class="carousel_prev carousel_left disable" href="">prev</a>
                <div class="carousel_container">
                    <ul class="portfolio_items">
                        <% slider.forEach(function (movie) { %>
                        <li>
                            <div class="inner">
                                <a href="<%- movie.url %>" title="<%= movie.title %>">
                                    <div class="cinemapress-poster">
                                        <img src="<%- movie.poster %>" style="width: 118px" alt="<%= movie.title %> (<%- movie.year %>)" title="<%= movie.title %> (<%- movie.year %>)">
                                        <% if (movie.quality) { %>
                                        <div class="cinemapress-quality" style="margin: 3px; padding: 3px;font-size: 10px;">
                                            <span class="cinemapress-svg-quality" style="height: 8px !important;min-height: 8px !important;"></span>&nbsp;<%- movie.quality %>
                                        </div>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <a class="carousel_next carousel_right" href="">next</a>
            </div>
            <% } %>
        </div>
    </div>
</div>