<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">
<link rel="shortcut icon" href="/themes/drogo/public/favicon.ico?v=<%- page.ver %>"/>
<link rel="stylesheet" href="/themes/drogo/public/css/all.css?v=<%- page.ver %>">
<%- page.codes.head %>