<div class="leftblok_contener">

    <div style="padding: 7px 20px;position: relative;">
        <i style="font-size:15px;"><%- page.l.navigation %></i>
    </div>
    <div class="leftblok_contener2">
        <div class="leftblok1">
            <div class="miniblock">
                <div class="mini" style="border-top:0px; padding-top:0px;">
                    <i style="font-size:14px;"><%- page.l.menu %></i><br><br>
                    <% page.urls.genres.forEach(function(genre) { %>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a><br>
                    <% }); %>
                </div>
                <div style="padding-top:20px;"></div>
            </div>
        </div>
        <div class="leftblok2">
            <div class="miniblock">
                <div class="mini" style="border-top:0px; padding-top:0px;">
                    <i style="font-size:14px;"><%- page.l.years %></i><br><br>
                    <% page.urls.years.slice(0, 10).forEach(function(year) { %>
                        <a href="<%- year.url %>">
                            <%- year.title %>
                        </a><br>
                    <% }); %>
                    <div class="poloska"></div>
                </div>
                <div class="mini">
                    <i style="font-size:14px;"><%- page.l.countries %></i><br><br>
                    <% page.urls.countries.slice(0, 9).forEach(function(country) { %>
                        <a href="<%- country.url %>">
                            <%- country.title %>
                        </a><br>
                    <% }); %>
                    <div class="poloska"></div>
                </div>
                <div class="mini">
                    <a href="/<%- page.urls.year %>"><%- page.l.allYears %></a><br>
                    <a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a><br>
                    <a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a><br>
                    <a href="/<%- page.urls.actor %>"><%- page.l.allActors %></a><br>
                    <a href="/<%- page.urls.director %>"><%- page.l.allDirectors %></a><br>
                </div>
            </div>
        </div>
    </div>

    <% if (typeof index === 'object') {
            for (var type in index) {
    if (index.hasOwnProperty(type) && index[type].length && type === 'episode') {
    index[type].forEach(function (category) { %>

        <div class="poloska_bloka"></div>
        <div style="padding: 7px 20px;
position: relative;
border-bottom: 1px solid #3f413f;"><i style="font-size:15px;"><%- category.name %></i></div>
        <div class="mimiserblock">
            <ul>
                <% var moreEpisodes = false; %>
                <% if (typeof category === 'object' && category.movies && category.movies.length) {
                category.movies.forEach(function (movie) { %>
                    <li class="li_serial" <% if (movie.hide) { moreEpisodes = true; %>style="display:none"
                        data-more-episodes="hide"
                            <% } %>
                    >
                        <a href="<%- movie.url %>" rel="nofollow">
                            <img src="<%- movie.poster_min %>" data-cinemapress-src="<%- movie.poster %>" alt="<%= movie.title %>">
                            <br><%= movie.title %><br>
                            <small>
                                <% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %><% if (movie.translate) { %>
                                    <br><%- movie.translate %><% } %>
                                <% } %>
                            </small>
                        </a>
                    </li>
                <% }); } %>
            </ul>
        </div>

        <% if (moreEpisodes) { %>
            <div style="clear:both"></div>
            <div class="moreEpisodes"
                 onclick="var dme = document.querySelectorAll('[data-more-episodes]'); dme && dme.forEach(function(e) {e.style.display='block'});this.style.display='none'"><%- page.l.moreEpisodes %></div>
        <% } %>

    <% }); } } } %>

    <% if (typeof soon === 'object' && soon.length) { %>
        <div class="poloska_bloka"></div>
        <div style="padding: 7px 20px;
position: relative;
border-bottom: 1px solid #3f413f;"><i style="font-size:15px;"><%- page.l.soon %></i></div>
        <div class="mimiserblock">
            <ul>
                <% soon.forEach(function (movie) { %>
                    <li class="li_serial">
                        <a href="<%- movie.url %>" rel="nofollow">
                            <img src="<%- movie.poster_min %>" data-cinemapress-src="<%- movie.poster %>" alt="<%= movie.title %>">
                            <br>
                            <%= movie.title %> (<%- movie.year %>)
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <% if (typeof news === 'object' && news.length) { %>
        <% news.forEach(function (content) { %>
            <div style="margin: 10px;">
                <a href="<%- content.url %>" class="cinemapress-news"
                   style="background-image:url('<%- content.image %>');">
                    <div class="cinemapress-news-title">
                        <%= content.title %>
                    </div>
                </a>
            </div>
        <% }); %>
    <% } %>

    <% if (typeof page.adv === 'object' && page.adv.left) { %>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.left %>
        </div>
    <% } %>

    <% if (typeof recent === 'object' && recent.length) { %>
        <% recent.forEach(function (comment) { %>
            <div style="margin: 10px;">
                <div class="cinemapress-comment">
                    <div class="cinemapress-comment-head">
                        <div class="cinemapress-comment-head-avatar">
                            <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                        </div>
                        <div class="cinemapress-comment-head-meta">
                            <div class="cinemapress-comment-head-meta-title">
                                <a href="<%- comment.url %>" title="<%= comment.title %>"><%= comment.title %></a>
                            </div>
                            <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                                <div class="cinemapress-comment-user-name">
                                    <%- comment.user %>
                                </div>
                                <div class="cinemapress-comment-user-said">
                                    <%- page.l.said %>
                                </div>
                                <div class="cinemapress-comment-user-date">
                                    <%- comment.date %>
                                </div>
                                <div class="cinemapress-comment-user-link">
                                    <a href="<%- comment.url %>#c<%- comment.id %>" title="<%= comment.title %>">#</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cinemapress-comment-bg cinemapress-comment-radius">
                        <%- comment.comment %>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } %>

</div>