<!doctype html>
<html lang="<%- page.language %>">
<head>

    <%- include('includes/head.ejs'); -%>

</head>
<body>

<% if (typeof page.adv === 'object' && page.adv.brand) { %>
    <%- page.adv.brand %>
<% } %>

<div class="header_black"></div>

<div class="wrapper">

    <%- include('includes/header.ejs'); -%>

    <div class="contener">
        <div class="contener2">
            <div class="content">
                <div id="cinemapress-content">

                    <div style="padding: 9px 10px 8px 20px;">
						<span>
							<a href="/">
								<%- page.l.home %>
							</a>
						</span> »
                        <%= page.title %>
                    </div>

                    <% if (typeof page.adv === 'object' && page.adv.top) { %>
                        <div style="text-align: center; margin: 10px auto">
                            <%- page.adv.top %>
                        </div>
                    <% } %>

                    <div style="margin: 10px auto; text-align: center">
                        <h1><%- page.h1 %></h1>
                    </div>

                    <% if (typeof categories === 'object' && categories.length) { %>
                        <div style="clear: both"></div>
                        <% categories.forEach(function (content) { %>
                            <div style="float:left;width:50%;">
                                <div style="margin:10px;padding:0;position:relative">
                                    <div class="cinemapress-categories"
                                         style="background-image:url('<%- content.image %>');"></div>
                                    <a href="<%- content.url %>"
                                       class="cinemapress-categories-title"><%= content.title %></a>
                                </div>
                            </div>
                        <% }); %>
                        <div style="clear: both"></div>
                    <% } %>

                    <div style="clear:both"></div>

                    <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
                        <div style="text-align: center; margin: 10px auto">
                            <%- page.adv.bottom %>
                        </div>
                    <% } %>

                    <% if (page.seo) { %>
                        <div style="margin: 20px 10px;text-align: justify;">
                            <%- page.seo %>
                        </div>
                    <% } %>

                </div>
            </div>

            <%- include('includes/left.ejs'); -%>

        </div>
    </div>

    <%- include('includes/footer.ejs'); -%>

</div>

</body>
</html>