<!doctype html>
<html lang="ru" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div class="header_black"></div>

<div class="wrapper">

    <% include includes/header.ejs %>

    <div class="contener">

        <div class="contener2">

            <div class="content">

                <div id="cinemapress-content">

                    <div style="padding: 9px 10px 8px 20px; border-bottom: 1px solid #848480;">
						<span>
							<a href="/">
								Главная
							</a>
						</span> »
                        <span>
							<%- movie.genre_url %>
						</span> »
                        <span>
							<a href="<%- movie.url %>">
								<%- movie.title %>
							</a>
						</span> »
                        Серия онлайн
                    </div>

                    <% if (typeof page.adv === 'object' && page.adv.top) { %>
                    <div style="text-align: center; margin: 10px auto">
                        <%- page.adv.top %>
                    </div>
                    <% } %>

                    <div class="fullstory">

                        <div class="shortstorytitle">
                            <h1>
                                <%- movie.title %> (<%- movie.year %>)
                            </h1>
                        </div>

                        <div class="fullimg" style="margin-right: 30px">
                            <div style="display:inline;">
                                <% if (movie.poster) { %>
                                <a href="<%- movie.url %>" style="float: left">
                                    <div class="cinemapress-poster">
                                        <img src="<%- movie.poster %>" style="width: 200px; height: 300px;" alt="<%- movie.title %> (<%- movie.year %>)" title="<%- movie.title %> (<%- movie.year %>)">
                                        <% if (movie.quality) { %>
                                        <div class="cinemapress-quality">
                                            <span class="cinemapress-svg-quality"></span>
                                            <%- movie.quality %>
                                        </div>
                                        <% } %>
                                        <% if (movie.translate) { %>
                                        <div class="cinemapress-translate">
                                            <span class="cinemapress-svg-translate"></span>
                                            <%- movie.translate %>
                                        </div>
                                        <% } %>
                                    </div>
                                </a>
                                <% } %>
                                <% if (page.seo) { %>
                                <div style="text-align: justify;">
                                    <%- page.seo %>
                                </div>
                                <% } %>
                                <br>
                                <% if (movie.kp_rating) { %>
                                <b>КиноПоиск:</b> <%- movie.kp_rating/10 %> (<%- movie.kp_vote %> голосов)<br>
                                <% } %>
                                <% if (movie.imdb_rating) { %>
                                <b>IMDb:</b> <%- movie.imdb_rating/10 %> (<%- movie.imdb_vote %> голосов)<br>
                                <% } %>
                                <br>
                                <% if (movie.year_url) { %>
                                <b>Год выпуска:</b> <%- movie.year_url %><br>
                                <% } %>
                                <% if (movie.countries_url) { %>
                                <b>Страна:</b> <%- movie.countries_url %><br>
                                <% } %>
                                <% if (movie.genres_url) { %>
                                <b>Жанр:</b> <%- movie.genres_url %><br>
                                <% } %>
                                <br>
                                <% if (movie.directors_url) { %>
                                <b>Режиссер:</b> <%- movie.directors_url %><br>
                                <% } %>
                                <% if (movie.actors_url) { %>
                                <b>Актеры:</b> <%- movie.actors_url %><br>
                                <% } %>
                            </div>

                            <div style="clear: both"></div>

                            <div class="episodesListBlock" style="display: none; margin: 10px auto;">
                                <h3><%- movie.title %> новые серии</h3>
                                <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                            </div>

                            <div style="clear: both"></div>

                            <% if (movie.pictures.length) { %>

                            <div class="screens">
                                <% movie.pictures.forEach(function (picture) { %>
                                <a href="<%- movie.url %>/<%- page.urls.movies.picture %>">
                                    <img src="<%- picture.picture_min %>" alt="<%- movie.title %> (<%- movie.year %>)" title="<%- movie.title %> (<%- movie.year %>)">
                                </a>
                                <% }); %>
                            </div>

                            <% } %>

                            <div style="clear: both"></div>

                            <div class="stronk">
                                <strong>
                                    <%- movie.title %> серия онлайн
                                </strong>
                            </div>

                        </div>

                    </div>

                </div>

                <div style="clear: both"></div>

                <% if (typeof page.adv === 'object' && page.adv.over) { %>
                <div style="text-align: center; margin: 10px auto">
                    <%- page.adv.over %>
                </div>
                <% } %>

                <div class="section">

                    <div class="watchLaterBlock" style="float:right; padding-top: 5px;padding-right: 10px;font-size:11px; display: none;">
                        <a href="javascript:void(0)" id="watchLater">Досмотреть позже</a>
                    </div>

                    <div class="tabs">
                        <a href="<%- movie.url %>/<%- page.urls.movies.online %>">Онлайн</a>
                        <a href="<%- movie.url %>/<%- page.urls.movies.download %>">Скачать</a>
                        <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>">Трейлер</a>
                        <a href="<%- movie.url %>/<%- page.urls.movies.picture %>">Кадры</a>
                    </div>

                    <div style="clear:both"></div>

                    <div class="box visible" style="display: block; background: rgb(0, 0, 0); width: 100%; height: 370px;">
                        <%- page.player %>
                    </div>

                </div>

                <% if (typeof page.adv === 'object' && page.adv.under) { %>
                <div style="text-align: center; margin: 10px auto">
                    <%- page.adv.under %>
                </div>
                <% } %>

                <% if (typeof contents === 'object' && contents.length) { %>
                <div style="clear: both"></div>
                <% contents.forEach(function (content) { %>
                <div style="float: left; width: 50%;">
                    <div style="margin: 0; padding: 10px">
                        <a href="<%- content.url %>" class="cinemapress-news">
                            <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%- content.title %>">
                            <div class="cinemapress-news-title">
                                <%- content.title %>
                            </div>
                        </a>
                    </div>
                </div>
                <% }); %>
                <div style="clear: both"></div>
                <% } %>

                <% if (typeof movies === 'object') {
                        for (var type in movies) {
                if (movies.hasOwnProperty(type) && movies[type].length) {
                movies[type].forEach(function (category) { %>
                <div class="relatednews_title">
                    <i><span class="selection_index"></span><%- category.name %></i>
                </div>
                <div class="relatednews">
                    <ul class="ul_related"><% if (category.movies.length) {
                        category.movies.forEach(function (movie) { %><li>
                            <a href="<%- movie.url %>" title="<%- movie.title %> (<%- movie.year %>)">
                                <img src="<%- movie.poster %>" style="height:165px; width:110px" alt="<%- movie.title %>">
                                <%- movie.title %> (<%- movie.year %>)
                            </a>
                        </li><% }); } %>
                    </ul>
                </div>
                <% }); } } } %>

                <div style="clear:both;"></div>

                <% if (page.comments) { %>
                <div style="padding: 10px;">
                    <%- page.comments %>
                </div>
                <% } %>

                <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
                <div style="text-align: center; margin: 10px auto">
                    <%- page.adv.bottom %>
                </div>
                <% } %>

            </div>

            <% include includes/left.ejs %>

        </div>

    </div>

    <% include includes/footer.ejs %>

</div>

</body>
</html>